:root {
  --pink: #fe8f8d;
  --dark-pink: #df4745;

  --fg: #111;
  --bg: var(--pink);
  --header-bg: #fff;
  --page-bg: #fff;
  --grid-bg: #fafafc;
  --code-bg: #fff;
  --border-color: #eee;
  --link-color: var(--dark-pink);
  --backlink-color: var(--link-color);
  --active-link-background-color: #eee;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  /* Override for dark mode */
  :root {
    --fg: #eee;
    --grid-bg: #111;
    --code-bg: #2e2a31;
    --header-bg: #222;
    --page-bg: #222;
    --border-color: #333;
    --link-color: var(--pink);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --active-link-background-color: #444;
  }
}
