:root {
  --fg: #111;
  --bg: #fafafc;
  --header-bg: #fff;
  --page-bg: #fff;
  --code-bg: #fff;
  --border-color: #ddd;
  --link-color: rgb(23, 173, 152);
  --backlink-color: rgba(23, 173, 152, 0.75);
  --active-link-background-color: rgba(23, 173, 152, 0.15);
}

@media (prefers-color-scheme: dark) {
  /* Override for dark mode */
  :root {
    --fg: #eee;
    --bg: #111;
    --code-bg: #2e2a31;
    --header-bg: #222;
    --page-bg: #222;
    --border-color: #777;
  }
}

/* Fonts */
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-regular.woff2') format('woff2'), url('/fonts/iosevka-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/iosevka-extended.woff2') format('woff2'), url('/fonts/iosevka-extended.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
       url("/fonts/Inter-Regular.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.18") format("woff2"),
       url("/fonts/Inter-Italic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2?v=3.18") format("woff2"),
       url("/fonts/Inter-Bold.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.18") format("woff2"),
       url("/fonts/Inter-BoldItalic.woff?v=3.18") format("woff");
}

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-flow: column;
  background: var(--bg);
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}

code {
  font-family: 'Iosevka Web', monospace;
  background: var(--code-bg);
  border-radius: 6px;
  padding: 0 2px 2px;
}

.chroma.chroma, pre {
  background: var(--code-bg);
  border-radius: 6px;
}

pre code {
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background: var(--header-bg);
  border-bottom: 1px var(--border-color) dashed;
  padding: 16px;
}

.site-title {
  padding: 0;
  margin: 0;
}

.permalink {
  color: inherit;
}

#logo {
  display: inline-block;
  display: flex;
}

#logo.active {
  /* Disable highlighting in logo */
  background: none;
}

#logo img {
  width: 30px;
  height: 30px;
}

#logo h3 {
  margin-left: 8px;
  line-height: 30px;
  color: var(--fg);
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  background: var(--page-bg);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 100%;
  max-width: 625px;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}

.page:last-child {
  margin-right: 15px;
}

.content {
  padding: 16px;
}

.content > h1, .content > h2:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}

a.active {
  background-color: var(--active-link-background-color);
}

a:hover {
  opacity: 0.5;
}

a svg.external-link-icon {
  position: relative;
  top: 2px;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  border-left: 3px solid;
  border-left-color: currentcolor;
  border-color: var(--text-color);
  padding-left: 1em;
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

.bl-section {
  padding: 1em;
  border-top: 1px var(--border-color) dashed;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.backlinks a {
  flex: 100%;
  color: var(--backlink-color);
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0;
}
dl > * {
  padding-top: 0.5em;
}

dt {
  width: 30%;
  font-weight: bold;
  text-align: right;
}
dd {
  width: 60%;
  padding-left: 1em;
  margin-left: 0px;
}
dd + dd {
  width: 100%;
  padding-left: calc(30% + 1em);
}
dt + dt {
  padding-right: 60%;
}
dt + dt + dd {
  margin-top: -1.625em; /* own height including padding */
  padding-left: calc(30% + 1em);
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
  }

  #logo {
    magin: 0;
  }

  #logo img {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }
}

/* Base16 unikitty light https://github.com/yawpitch/base16-hugo */
/* Background */ .chroma { color: #6c696e; background-color: #ffffff }
/* Other */ .chroma .x { color: #6c696e }
/* Error */ .chroma .err { color: #d8137f }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #c4c3c5 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #aa17e6 }
/* KeywordConstant */ .chroma .kc { color: #aa17e6 }
/* KeywordDeclaration */ .chroma .kd { color: #aa17e6 }
/* KeywordNamespace */ .chroma .kn { color: #aa17e6 }
/* KeywordPseudo */ .chroma .kp { color: #aa17e6 }
/* KeywordReserved */ .chroma .kr { color: #aa17e6 }
/* KeywordType */ .chroma .kt { color: #d8137f }
/* Name */ .chroma .n { color: #775dff }
/* NameAttribute */ .chroma .na { color: #775dff }
/* NameBuiltin */ .chroma .nb { color: #775dff }
/* NameBuiltinPseudo */ .chroma .bp { color: #d8137f }
/* NameClass */ .chroma .nc { color: #775dff }
/* NameConstant */ .chroma .no { color: #d65407 }
/* NameDecorator */ .chroma .nd { color: #d65407 }
/* NameEntity */ .chroma .ni { color: #775dff }
/* NameException */ .chroma .ne { color: #775dff }
/* NameFunction */ .chroma .nf { color: #775dff }
/* NameFunctionMagic */ .chroma .fm { color: #775dff }
/* NameLabel */ .chroma .nl { color: #775dff }
/* NameNamespace */ .chroma .nn { color: #775dff }
/* NameOther */ .chroma .nx { color: #775dff }
/* NameProperty */ .chroma .py { color: #775dff }
/* NameTag */ .chroma .nt { color: #aa17e6 }
/* NameVariable */ .chroma .nv { color: #775dff }
/* NameVariableClass */ .chroma .vc { color: #775dff }
/* NameVariableGlobal */ .chroma .vg { color: #775dff }
/* NameVariableInstance */ .chroma .vi { color: #d8137f }
/* NameVariableMagic */ .chroma .vm { color: #775dff }
/* Literal */ .chroma .l { color: #17ad98 }
/* LiteralDate */ .chroma .ld { color: #17ad98 }
/* LiteralString */ .chroma .s { color: #17ad98 }
/* LiteralStringAffix */ .chroma .sa { color: #17ad98 }
/* LiteralStringBacktick */ .chroma .sb { color: #17ad98 }
/* LiteralStringChar */ .chroma .sc { color: #17ad98 }
/* LiteralStringDelimiter */ .chroma .dl { color: #17ad98 }
/* LiteralStringDoc */ .chroma .sd { color: #17ad98 }
/* LiteralStringDouble */ .chroma .s2 { color: #17ad98 }
/* LiteralStringEscape */ .chroma .se { color: #17ad98 }
/* LiteralStringHeredoc */ .chroma .sh { color: #17ad98 }
/* LiteralStringInterpol */ .chroma .si { color: #e013d0 }
/* LiteralStringOther */ .chroma .sx { color: #17ad98 }
/* LiteralStringRegex */ .chroma .sr { color: #149bda }
/* LiteralStringSingle */ .chroma .s1 { color: #17ad98 }
/* LiteralStringSymbol */ .chroma .ss { color: #d65407 }
/* LiteralNumber */ .chroma .m { color: #d65407 }
/* LiteralNumberBin */ .chroma .mb { color: #d65407 }
/* LiteralNumberFloat */ .chroma .mf { color: #d65407 }
/* LiteralNumberHex */ .chroma .mh { color: #d65407 }
/* LiteralNumberInteger */ .chroma .mi { color: #d65407 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #d65407 }
/* LiteralNumberOct */ .chroma .mo { color: #d65407 }
/* Operator */ .chroma .o { color: #6c696e }
/* OperatorWord */ .chroma .ow { color: #6c696e }
/* Punctuation */ .chroma .p { color: #6c696e }
/* Comment */ .chroma .c { color: #a7a5a8 }
/* CommentHashbang */ .chroma .ch { color: #a7a5a8 }
/* CommentMultiline */ .chroma .cm { color: #a7a5a8 }
/* CommentSingle */ .chroma .c1 { color: #a7a5a8 }
/* CommentSpecial */ .chroma .cs { color: #a7a5a8 }
/* CommentPreproc */ .chroma .cp { color: #e013d0 }
/* CommentPreprocFile */ .chroma .cpf { color: #17ad98 }
/* Generic */ .chroma .g { color: #6c696e }
/* GenericDeleted */ .chroma .gd { color: #d8137f }
/* GenericEmph */ .chroma .ge { color: #6c696e; font-style: italic }
/* GenericError */ .chroma .gr { color: #6c696e }
/* GenericHeading */ .chroma .gh { color: #775dff }
/* GenericInserted */ .chroma .gi { color: #17ad98 }
/* GenericOutput */ .chroma .go { color: #6c696e }
/* GenericPrompt */ .chroma .gp { color: #6c696e }
/* GenericStrong */ .chroma .gs { color: #6c696e; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #775dff }
/* GenericTraceback */ .chroma .gt { color: #6c696e }
/* GenericUnderline */ .chroma .gl { color: #6c696e; text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #ffffff; text-decoration: underline }

/* Base16 unikitty dark https://github.com/yawpitch/base16-hugo */
@media (prefers-color-scheme: dark) {
  /* Background */ .chroma { color: #bcbabe; background-color: #2e2a31 }
  /* Other */ .chroma .x { color: #bcbabe }
  /* Error */ .chroma .err { color: #d8137f }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #666369 }
  /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
  /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
  /* Keyword */ .chroma .k { color: #bb60ea }
  /* KeywordConstant */ .chroma .kc { color: #bb60ea }
  /* KeywordDeclaration */ .chroma .kd { color: #bb60ea }
  /* KeywordNamespace */ .chroma .kn { color: #bb60ea }
  /* KeywordPseudo */ .chroma .kp { color: #bb60ea }
  /* KeywordReserved */ .chroma .kr { color: #bb60ea }
  /* KeywordType */ .chroma .kt { color: #d8137f }
  /* Name */ .chroma .n { color: #796af5 }
  /* NameAttribute */ .chroma .na { color: #796af5 }
  /* NameBuiltin */ .chroma .nb { color: #796af5 }
  /* NameBuiltinPseudo */ .chroma .bp { color: #d8137f }
  /* NameClass */ .chroma .nc { color: #796af5 }
  /* NameConstant */ .chroma .no { color: #d65407 }
  /* NameDecorator */ .chroma .nd { color: #d65407 }
  /* NameEntity */ .chroma .ni { color: #796af5 }
  /* NameException */ .chroma .ne { color: #796af5 }
  /* NameFunction */ .chroma .nf { color: #796af5 }
  /* NameFunctionMagic */ .chroma .fm { color: #796af5 }
  /* NameLabel */ .chroma .nl { color: #796af5 }
  /* NameNamespace */ .chroma .nn { color: #796af5 }
  /* NameOther */ .chroma .nx { color: #796af5 }
  /* NameProperty */ .chroma .py { color: #796af5 }
  /* NameTag */ .chroma .nt { color: #bb60ea }
  /* NameVariable */ .chroma .nv { color: #796af5 }
  /* NameVariableClass */ .chroma .vc { color: #796af5 }
  /* NameVariableGlobal */ .chroma .vg { color: #796af5 }
  /* NameVariableInstance */ .chroma .vi { color: #d8137f }
  /* NameVariableMagic */ .chroma .vm { color: #796af5 }
  /* Literal */ .chroma .l { color: #17ad98 }
  /* LiteralDate */ .chroma .ld { color: #17ad98 }
  /* LiteralString */ .chroma .s { color: #17ad98 }
  /* LiteralStringAffix */ .chroma .sa { color: #17ad98 }
  /* LiteralStringBacktick */ .chroma .sb { color: #17ad98 }
  /* LiteralStringChar */ .chroma .sc { color: #17ad98 }
  /* LiteralStringDelimiter */ .chroma .dl { color: #17ad98 }
  /* LiteralStringDoc */ .chroma .sd { color: #17ad98 }
  /* LiteralStringDouble */ .chroma .s2 { color: #17ad98 }
  /* LiteralStringEscape */ .chroma .se { color: #17ad98 }
  /* LiteralStringHeredoc */ .chroma .sh { color: #17ad98 }
  /* LiteralStringInterpol */ .chroma .si { color: #c720ca }
  /* LiteralStringOther */ .chroma .sx { color: #17ad98 }
  /* LiteralStringRegex */ .chroma .sr { color: #149bda }
  /* LiteralStringSingle */ .chroma .s1 { color: #17ad98 }
  /* LiteralStringSymbol */ .chroma .ss { color: #d65407 }
  /* LiteralNumber */ .chroma .m { color: #d65407 }
  /* LiteralNumberBin */ .chroma .mb { color: #d65407 }
  /* LiteralNumberFloat */ .chroma .mf { color: #d65407 }
  /* LiteralNumberHex */ .chroma .mh { color: #d65407 }
  /* LiteralNumberInteger */ .chroma .mi { color: #d65407 }
  /* LiteralNumberIntegerLong */ .chroma .il { color: #d65407 }
  /* LiteralNumberOct */ .chroma .mo { color: #d65407 }
  /* Operator */ .chroma .o { color: #bcbabe }
  /* OperatorWord */ .chroma .ow { color: #bcbabe }
  /* Punctuation */ .chroma .p { color: #bcbabe }
  /* Comment */ .chroma .c { color: #838085 }
  /* CommentHashbang */ .chroma .ch { color: #838085 }
  /* CommentMultiline */ .chroma .cm { color: #838085 }
  /* CommentSingle */ .chroma .c1 { color: #838085 }
  /* CommentSpecial */ .chroma .cs { color: #838085 }
  /* CommentPreproc */ .chroma .cp { color: #c720ca }
  /* CommentPreprocFile */ .chroma .cpf { color: #17ad98 }
  /* Generic */ .chroma .g { color: #bcbabe }
  /* GenericDeleted */ .chroma .gd { color: #d8137f }
  /* GenericEmph */ .chroma .ge { color: #bcbabe; font-style: italic }
  /* GenericError */ .chroma .gr { color: #bcbabe }
  /* GenericHeading */ .chroma .gh { color: #796af5 }
  /* GenericInserted */ .chroma .gi { color: #17ad98 }
  /* GenericOutput */ .chroma .go { color: #bcbabe }
  /* GenericPrompt */ .chroma .gp { color: #bcbabe }
  /* GenericStrong */ .chroma .gs { color: #bcbabe; font-weight: bold }
  /* GenericSubheading */ .chroma .gu { color: #796af5 }
  /* GenericTraceback */ .chroma .gt { color: #bcbabe }
  /* GenericUnderline */ .chroma .gl { color: #bcbabe; text-decoration: underline }
  /* TextWhitespace */ .chroma .w { color: #2e2a31; text-decoration: underline }
}
